@tailwind base;
@tailwind Components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
@keyframes float {
  0% { transform: translateY(0px) translateX(-50%); }
  50% { transform: translateY(-10px) translateX(-50%); }
  100% { transform: translateY(0px) translateX(-50%); }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}

